.head{
       	border: black solid 1px;
        background-color: #5dbcd2;
        opacity:0.9;
        }

 .main{
      height: 150px;
      width: 400px;
      margin-bottom: 50px;
       }
   .gallary{
            height: 150px;
            width: 150px;
           }  
  .foot{
       	margin:70px;
       	border:1px solid black;
       }

    .footleft{
            text-align: left;
            }     

   .footcentre{
               text-align: center; 
              }   

     #back{
         background-image: url(waterimages.jpg);
         background-repeat: no-repeat;
         background-size: 100% 100%;
        } 

    .box{
         background-color: white;
         opacity:0.9;
         margin: 30px;
         border: solid grey 1px;
         padding: 20px;
         border-radius: 25px;
        }    

    .foot{
            background-color: white;
            opacity:0.9;
         }    

    .policy{
             margin:50px;
             padding: 20px;
             border-radius: 25px;
           }
    .img{
          height: 150px;
          width: 150px;
    }    

    .about{
      width: 250px
    }   

   .gallary{
        height:250px;
        width: 250px;
           } 
   .header{
        border: black solid 1px;
        background-color:white;
        opacity:0.9;
        }
    .phone{
          float: right;
        }

        .backcolor{
          background-color: #5dbcd2;
          opacity:1;

        }